.nav-item{
  padding: 3px;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #212529;


}





@media (max-width: 991.98px) {
  .body {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }


}

.login{
  ml-auto;
}


.row{
  background-color: #212529;
}
.section-name{
  background-color: #212529;
}
.answer{
  color: #7f7f7f;
  background-color: #7f7f7f;
  border-radius: 25px;
  border: 1px;
}

.radio{
  padding-left: 5%;
}

.main-title{
  background-color: #212529;
  color: white;
  padding-top: 5%;
  padding-left: 20%;
  padding-bottom: 30px;
  margin-bottom: 0;
  font-size: 35px;
}

.submit{
  margin-left: 10%;
}

.login{
  float: right;
}

.sort{
color: white;
padding-top: 20px;
}

.tag-box{
  color: #7f7f7f;
  border-radius: 25px;




}
.form-input{
  margin-left: 28%;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 50px;


}


.date{
  padding-left: 21%;
  padding-top: 30px;
}

.title{
  padding-top: 12px;

}


.row{
  padding-left: 10%
}

.small-card{
  padding-left: 3%;
  padding-right: 3%;
  float: right;
}

.description{
  font-size: 15px;
}

.remote{
  float: right;
  color: #1184e8;
}

.card-text{
  font-size: 15px;
}

.big-card{
  padding-left: 3%;
  padding-right: 3%;

}

.answer{
  width: 200px;
}
